<li class="navList_item"><a id="logout" href="/logout" class="navList_link">выход</a></li>




<form action="/admin/animal"  method='post' enctype="multipart/form-data">
    <label for="animal-name">Название животного</label>
    <input type="text" name="animalName" id="animal-name">
    <label for="desc">Описание животного</label>
    <input type="text" name="desc" id="desc">
    <label for="photo">Фотография животного</label>
    <input type="file" name="avatar" id="photo">
    <button type='submit'>Сохранить</button>
</form>

<form action="/admin/tariff" method='post'>
    <label for="tariff-name">Название тарифа</label>
    <input type="text" name="tariffName" id="tariff-name">
    <label for="price">Цена</label>
    <input type="number" name="price" id="price">
    <button type='submit'>Сохранить</button>
</form>

<div class="animal-wrapper">
    <h1>Изменить данные о животных</h1>
    <ul>
        {{#if animals}}
        {{#each animals}}
        <li class="animal" data-id="{{_id}}">
            <p>{{name}}</p>
            <a href="/admin/animal/{{_id}}">изменить</a>
            <form method="POST" action="/admin/animal/{{_id}}" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">удалить</button>
</form>
        </li>
        {{/each}}
        {{else}}
        <p>Вы пока ничего не добавили</p>
        {{/if}}
    </ul>
</div>

<div class="tariffs-wrapper">
    <h1>Изменить данные о тарифах</h1>
    <ul>
        {{#if tariffs}}
        {{#each tariffs}}
        <li>
            <p>{{name}}</p>
            <a href="/admin"></a>
            <a href="/admin/tariff/{{_id}}">изменить</a>
            <form method="POST" action="/admin/tariff/{{_id}}" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">удалить</button>
</form>
        </li>
        {{/each}}
        {{else}}
        <p>Вы пока ничего не добавили</p>
        {{/if}}
    </ul>
</div>
