        <li class="navList_item"><a id="logout" href="/logout" class="navList_link">выход</a></li>

        <form action="/admin/animal" method='post'>
        <input type="text" name="animalName" placeholder="Название животного">
        <input type="text" name="desc" placeholder="Описание животного">
        <input type="file">
        <button type='submit'>Сохранить</button>
        </form>

        <form action="/admin/tariff" method='post'>
        <input type="text" name="tariffName" placeholder="Название тарифа">
        <input type="number" name="price" placeholder="Цена">
        <button type='submit'>Сохранить</button>
        </form>

        <div class="animal-wrapper">
            <h1>Изменить данные о животных</h1>
            <ul>
                {{#each animals}}
                <li>
                    <p>{{name}}</p>
                   
                       <form method="POST" action="admin/animal/{{_id}}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="PUT">
        <button type="submit">изменить</button>
        </form>
                    

   <form method="POST" action="admin/animal/{{_id}}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">удалить</button>
        </form>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="tariffs-wrapper">
            <h1>Изменить данные о тарифах</h1>
            <ul>
                {{#each tariffs}}
                <li>

                    <p>{{name}}</p>

                       <form method="POST" action="admin/tariff/{{_id}}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="PUT">
        <button type="submit">изменить</button>
        </form>
                    

   <form method="POST" action="admin/tariff/{{_id}}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">удалить</button>
        </form>

                    </li>
                {{/each}}
            </ul>
        </div>


